<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RevPlay - Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">RevPlay</a>
        <div>
            <a class="btn btn-outline-light me-2" href="/login">Login</a>
            <a class="btn btn-outline-light" href="/register">Register</a>
        </div>
    </div>
</nav>

<div class="container mt-5 text-center">
    <h1>Welcome to RevPlay</h1>
    <p class="lead">Discover, Listen and Enjoy music like never before!</p>
    <div class="row mt-4">
        <div class="col-md-4">
            <img src="/images/music1.jpg" class="img-fluid rounded" alt="Music 1">
        </div>
        <div class="col-md-4">
            <img src="/images/music2.jpg" class="img-fluid rounded" alt="Music 2">
        </div>
        <div class="col-md-4">
            <img src="/images/music3.jpg" class="img-fluid rounded" alt="Music 3">
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/home.js"></script>
</body>
</html>